#bg-chart {
    position: absolute;
    z-index: -1;
}

#chart {
    position: absolute;
    z-index: 1;
    margin-right: 10%;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 7%;
    margin-top: 10%;

}